html {
	height: 100%;
	background: radial-gradient(ellipse farthest-corner at center, #2b252f, #211c24); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
  
  font-family: "Noto Sans";
}

.screen-container{
  width: 100%;
  height: 100%;
}

.portrait{
  margin: auto -70px;
}

nav{
  width: 50%;
  margin: 90px auto 75px auto;
  /*display: inline;*/
  text-align: center;
  justify-content: center;

  display: flex;
  flex-direction: row;
}

nav a{
  margin: auto;
  font-size: 27px;
  letter-spacing: 1.1px;
	padding: 0px 34px;
	color: white;
	text-decoration: none;
	/*font-weight: 700;*/
}

nav a:hover{
  font-weight: 800;
}

/*Ramil Hinshaw*/
h1{
  font-size: 56px;
  margin: 10px 0px 0px 0px;
  font-weight: 900;
  letter-spacing: 4.5px;
  transform: scale(1, 0.95);
  text-align: center;
  line-height: 70px;
}

/*About, Portfolio, & Contact*/
h2{
  margin: 6px auto 8px auto;
  font-size: 42px;
  text-align: center;


}

.orange-underline{
  border-bottom: 3.5px solid #d6471e;
}

/*Developer & Designer*/
h3{
  font-family: "Quicksand";
  font-size: 33px;
  letter-spacing: 5px;
  margin: -5px 0px 0px 5px;

}

#tag{
  display: flex;
  flex-direction: row;
}

#and{
  font-size: 45px;
  position: relative;
  top: 5px;
}

.orange-line{
  background-color: #d6471e;
  height: 3.5px;
  margin: -1px auto 2px auto;;
}

.width-name { width: 445px; }
.width-title { width: 222px; }

.orange-diamond {
 transform: rotate(45deg);
 /*padding: 50px;*/
 height: 100px;
 width: 100px;
 background-color: #d6471e;
 margin-top: 10px;
 margin-bottom: 10px;

 display: flex;
 justify-content: center;
 align-items: center;

}

.orange-diamond:hover {
  background-color: #e27828;
}

h5 {

 transform: rotate(-45deg);
 font-size: 18px;
 font-weight: 800;
}

h4{
  margin: auto;
  
}

.orange-diamond-center{
  margin: -29px auto;
}

.flex-row .orange-diamond {
 /*margin: auto 20px;*/
 margin-left: 28px; 
 margin-right: 28px;
}


p {
  color: #c8c7c7;
  margin: auto  45px;	
	text-align: justify;
  text-align-last: center;
  letter-spacing: 1.1px;
	/*font-stretch: expanded;*/
  line-height: 37px;
  /*font-size: 25px;*/
  font-size: 1.3em;
  font-family: "Ubuntu";
  /*width: 50%;*/
  /*width: 640px;*/
 
  /*align-self: center;*/
}

.bracketL{
  /*
   *font-weight: bold;
   *font-size: 145px;
   */
  /*margin: 0px 250px;*/
  margin-left: 250px;
  align-self: center;
}

.bracketR{
  /*
   *font-weight: bold;
   *font-size: 145px;
   */
  /*margin: 0px 250px;*/
  margin-right: 250px;
  align-self: center;
}

.img-flipY {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.project{
  margin-right: 8px;
  margin-left: 8px;
  /*margin-top: -45px;*/
  /*margin-bottom: -45px;*/

  /*margin: -25px 25px;*/
}

.project-middle-row {
  /*margin: -45px auto; */
  margin-top: -225px;
  margin-bottom: -225px;
}

.button {
  margin-top: 45px;
  background-color: #d6471e;
  /*padding: auto auto;*/
  height: 45px; 
  width: 270px;
  border: 2px solid #d6471e;
  border-radius: 12px; 

  font-size: 26px;
  /*font-weight: 600;*/
  text-align: center;
  justify-content: center;
}

.button:hover {
  border-color: #e27828;
  background-color: #e27828;
}

.info {
  margin: auto 85px;
}

.dash{
  color: #d6471e;
}

#address {
  /*font-size: 26px;*/
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 2.2px;
  /*margin-top: -0.0em;*/
  font-weight: 100;
  margin-bottom: 1em;
}

#email {
  display: none;
  /*font-family: "Quicksand";*/
  text-align: center;
  font-size: 1.3em;
  /*letter-spacing: 2.0px;*/
  /*margin-top: -0.0em;*/
  font-weight: 100;
  margin-bottom: 2em;

  /*margin: 0px;*/
  padding: 0px;
}

#contact{
  margin-bottom: 8%;
}

#contact h2{
  font-size: 1.8em;
}

#social-media {
  display: flex;
  flex-direction: row;
  /*margin-bottom: 10%;*/
}

#social-media .flex-col{
  padding: 6px 18px;	
  
}

#social-media a {
  font-size: 23px;
  letter-spacing: 1.3px
}

#social-media a:hover {
  font-weight: bold;
  /*border-bottom: 3.5px solid #d6471e;*/
}


@media(max-width: 996px){

  nav{
    display: none;
    /*margin: auto;*/
    /*flex-direction: column;*/
    /*margin-top: auto;*/
  }

  .orange-diamond{ display: none; }
  .bracketL{ display: none; }
  .bracketR{ display: none; }
  .portfolio{ display: none; }
  .project{ display: none; }

  .bracketR{ margin-right: 0px;}

  .flex-row .orange-diamond {
     margin-left: 0px;; 
     margin-right: 0px;;
  }

  h1{
    font-size: 2.5em;
    line-height: 1.3em;
    /*text-decoration: underline;*/
    /*text-decoration-color: #d6471e;*/
  }

  h2{
    font-size: 2.5em;
    line-height: 1.3em;
  }

  h3{
    /*margin-top: 2em;*/
    font-size: 1.5em;
    line-height: 1.5em;
    /*width: 100%;*/
  }


  p{
    width: auto;
    text-align: left;
    text-align-last: left;
    font-size: 1.2em;
    line-height: 1.3em;
  }


  #social-media{
    margin-top: 20px;
    flex-direction: column;
  }
  
  #email{
    /*display: none;*/
  }

  #social-media .flex-col{
     padding: 0px;
  }

  .button{
    display: none;
  }


  /*portrait{display: none;}*/
  /*img{display: none;}*/
  /*p { display: none; }*/
}

@media(max-width: 450px)
{
  /*nav{display: none; }*/
  /*.orange-line {display: none;}*/


  .orange-line{
    margin-top: 2.3em;
    margin-bottom: 2em;
    width: 50%;
  }
  
  #and{
    font-size: 2em;
    display: none;
  }

  #tag{
    flex-direction: column;
  }

}
