---
layout: default
imgDir: /img/projects/
---

<!--<section class="blog">-->

  <!--<div class="content-spacing"></div>-->
    <ul class="list">
      {% for page in site.pages %}
        {% if page.category == 'project' %}

        <h4>
          <a class="link orange-underline-thin" href="{{ page.url | relative_url }}" role="link">{{ page.title | escape }}</a>
        </h4>
        <div class="flex-row flex-center">
          <img class="thumbnail" src="{{page.imgDir}}/splash.png" alt="{{page.title}} splash image">
          <p class="meta flex3">
          <!--{{ page.content | strip_html | escape | truncatewords: 80 }}-->
          {{ page.description }}
          </p>
        </div>

        {% endif %}

        <div class="content-spacing"></div>

      {% endfor %}
    </ul>

  <div class="content-spacing"></div>
  <!--<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}" role="link">via RSS</a></p>-->
<!--</section>-->
